    <a href="/">
    Search for Another Movie
    </a>
    <main>
    <article>
        <h1>{{pageTitle}}</h1>
        <img alt="{{Title}} Poster" src={{data.Poster}}>
        <h2>Plot</h2>
        <p>{{data.Plot}}</p>
        <section>
        <h3>Info</h3>
        <dl>
            <dt>Year Released:</dt>
            <dd>{{data.Year}}</dd>
            <dt>Rated:</dt>
            <dd>{{data.Rated}}</dd>
            <dt>Runtime:</dt>
            <dd>{{data.Runtime}}</dd>
            <dt>Genre(s):</dt>
            <dd>{{data.Genre}}</dd>
            <dt>Box Office Earnings:</dt>
            <dd>{{data.BoxOffice}}</dd>
            <dt>DVD Release Date:</dt>
            <dd>{{data.DVD}}</dd>
        </dl>
        </section>

        <section>
        <h4>Cast and Crew</h4>
        <p><strong>Director:</strong> {{data.Director}}</p>
        <p><strong>Writer:</strong> {{data.Writer}}</p>
        <p><strong>Cast:</strong> {{data.Actors}}</p>
        </section>

        <section>
        <h4>Ratings</h4>
        <table class="my_coolratings_table">
            <tr>
            <th>Source</th>
            <th>Rating</th>
            </tr>
            {{#each data.Ratings}}
            <tr>
                <td>{{Source}}</td>
                <td>{{Value}}</td>
            </tr>
            {{/each}}
        </table>
        </section>

    </article>

    </main>
