<div id="search-header-title">
  <h1>{{pageTitle}}</h1>
  <h2>{{searchedMovieTitle}}</h2>
</div>

<div id="search-header-home">
  <a href="/">
    Search for Another Movie
  </a>
</div>

<main>
  <ol>
    {{#each movies}}
      <li>
        <a href="/getmovie/{{imdbID}}">
          {{Title}}
          <br>
          <img
            class="searchResultImage"
            alt="{{Title}} Poster"
            src={{Poster}}
          >
        </a>
      </li>
    {{/each}}
  </ol>
</main>