    <a class="to_home" href="/">
        Search for Another Movie
    </a>
{{#if noErrors}}
    <h1 id="title-card">{{pageTitle}}</h1>
    <h2 id="searchByTitleToken">for "{{searchByTitle}}"</h2>
    <main>
    <ol>
        {{#each movies}}
        <li>
            <a class="movie-title" href="/getmovie/{{imdbID}}">
            {{Title}}
            <br>
            {{#if isBadImage}}
            <img class="searchResultImage" alt="No Image" src="http://localhost:3000/public/no_image.jpeg">
            {{else}}
            <img
                class="searchResultImage"
                alt="{{Title}} Poster"
                src={{Poster}}>
            {{/if}}

            </a>
        </li>
        {{/each}}
    </ol>
    </main>
    <a class="to_home" href="/">
        Search for Another Movie
    </a>
{{else}}
    <p class="movie-not-found">We're sorry, but no results were found for {{searchByTitle}}.</p>
{{/if}}

