    <a href="/">
        Search for Another Movie
    </a>
{{#if noErrors}}
    <h1>{{pageTitle}}</h1>
    <h2>{{searchByTitle}}</h2>
    <main>
    <ol>
        {{#each movies}}
        <li>
            <a href="/getmovie/{{imdbID}}">
            {{Title}}
            <br>
            <img
                class="searchResultImage"
                alt="{{Title}} Poster"
                src={{Poster}}
            >
            </a>
        </li>
        {{/each}}
    </ol>
    </main>
{{else}}
    <p class="movie-not-found">We're sorry, but no results were found for {{searchByTitle}}.</p>
{{/if}}

